<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>MEME Website Flask</title>
</head>
<body>
    <h1>A website to get memes using Flask</h1>
    <p>Meme will refresh in 30 seconds</p>
<p><img src="{{ meme_pic }}" alt="Meme Image"></p>
    <p>Current Subreddit: {{subreddit}}</p>
</body>
</html>