{% extends 'base.html' %}
{% block title %}
Update
{% endblock %}
{% block body %}
<div class="my container-3">
    <h1>Page Update</h1>

      <div class = 'container'>
    <form action="/update/{{todo.sno}}" method="POST">
 <div class="mb-3">
   <label for="text" class="form-label">Todo Title</label>
   <input type="text" class="form-control" name = 'title' id="title" value = '{{todo.title}}' aria-describedby="emailHelp">
   <div id="text" class="form-text">Add the title for the todo list.</div>
 </div>
 <div class="mb-3">
   <label for="text" class="form-label">Todo Description</label>
   <input type="text" class="form-control" name='desc' value = '{{todo.desc}}' id="desc">
 </div>
<!-- <button type="submit" class="btn btn-primary">Submit</button>-->
<!--  <div class="mb-3 form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Update</button>
</form>
      </div>
</div>
{% endblock %}